{% extends 'myapp/base.html' %}

{% block content %}
    <!-- {{prod}} -->
    <div class="flex p-10 w-full h-200">
        <img class="w-1/3" src="{{prod.images.url}}">
        <div class="w-2/3 text-xl ml-10 mt-10">
            <div class="mt-5">{{prod.name}} </div>
            <div class="mt-5 text-green-500">${{prod.price}} </div>
            <div class="mt-5 text-gray-700">{{prod.desc}}</div>
            <div class="mt-5 text-gray-700">Posted by: 
            <a href="{% url 'users:seller_profile' prod.seller_name.id %}">{{prod.seller_name}}</a></div>
            <div class="mt-5 text-gray-700">Contact no: {{prod.seller_name.profile.contact_number}}</div>
        </div>
    </div>
    
{% endblock %}